* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #1c1e4a, #74215d);
    min-height: 100vh; /* Stellt sicher, dass es mindestens den Viewport abdeckt */
    overflow-y: hidden; /* Verhindert horizontales Scrollen */
    margin: 0;
    padding: 0;
}

/* Große Überschrift */
.main-title {
    text-align: center;
    font-size: 48px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

/* Slideshow */
.slideshow {
    width: 65%;
    background-color: rgba(234, 234, 234, 0.8); /* Halbtransparenter Hintergrund */
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 400px;
}

.slide-dots {
    position: absolute;
    bottom: 10px; /* Abstand vom unteren Rand des Rechtecks */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

/* Liga Buttons auf der rechten Seite */
.liga {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Liga Buttons */
.liga-item {
    background-color: rgba(234, 234, 234, 0.8); /* Halbtransparenter Hintergrund */
    border: 2px solid #333;
    border-radius: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Untere Buttons */
.bottom-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

/* Untere Buttons */
.bottom-item {
    width: 22%;
    background-color: rgba(234, 234, 234, 0.8); /* Halbtransparenter Hintergrund */
    border: 2px solid #333;
    border-radius: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
